body {
    font-family: Arial, sans-serif;
    background-image: url('/images/4bbe5a7b-3975-4ac3-b6b1-8b910d28ae03.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.chat-container {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 1000px;
    max-height: 80vh;
    overflow-y: auto;
    margin: 20px auto; /* Center horizontally */
}

.title {
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px; /* Adjusted margin */
    text-align: center; /* Center the title */
}

.dark-mode-button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #060606;
    cursor: pointer;
}

.dark-mode-button:hover {
    background-color: #0056b3;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .chat-container {
        border-radius: 0;
    }

    .title {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .dark-mode-button {
        padding: 8px;
    }
}
